In [31]:


n = int(input())
dp = [0 for _ in range(n+2)]
for i in range(2,n+1):
    dp[i]=dp[i-1]+1
    if i%3==0:
        dp[i] = min(dp[i//3]+1,dp[i-1]+1)
        
    if i%2==0:
        dp[i] = min(dp[i//2]+1,dp[i-1]+1,dp[i])
        
        

print(dp[n])

11
4

In [3]:
10//5

2

In [ ]:
-- 코드를 입력하세요
SELECT INS.ANIMAL_ID, INS.ANIMAL_TYPE, INS.NAME
FROM ANIMAL_INS AS INS
LEFT JOIN ANIMAL_OUTS AS OUTS
ON INS.ANIMAL_ID=OUTS.ANIMAL_ID
WHERE SUBSTR(INS.SEX_UPON_INTAKE,1,6)='Intact'
AND (SUBSTRING(OUTS.SEX_UPON_OUTCOME,1,6)='Spayed' OR SUBSTRING(OUTS.SEX_UPON_OUTCOME,1,8)='Neutered')
ORDER BY INS.ANIMAL_ID