In [41]:
answer = 0

def dfs(n,j,col,diago1,diago2):
    global answer
    if j==n:
        answer+=1
        return
    else:
        for i in range(n):
            if i not in col and i+j not in diago1 and i-j not in diago2:
                col.add(i)
                diago1.add(i+j)
                diago2.add(i-j)
                #print(j,i,col,diago1,diago2)
                dfs(n,j+1,col,diago1,diago2)
                col.remove(i)
                diago1.remove(i+j)
                diago2.remove(i-j)
                
                
                
            
n = int(input())
dfs(n,0,set(),set(),set())

        
print(answer)

4
2

In [18]:
answer

0

In [36]:
temp = [[(i,j) for j in range(8)] for i in range(8)]

In [37]:
temp

[[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7)],
 [(1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7)],
 [(2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7)],
 [(3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7)],
 [(4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7)],
 [(5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7)],
 [(6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7)],
 [(7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7)]]